{% extends "base.html" %}

{% block content %}

{% if not validlink %}
    <div class="row">
        <div class="col text-center">
            <div class="alert alert-danger" role="alert">
                O link informado não é válido. Verifique novamente o seu e-mail
            </div>
        </div>
    </div>
{% else %}

<div class="row mt3">
    <div class="col text-center">
        <h2>Informe e confirme a nova senha</h2>
    </div>
</div>

{% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for key, values in form.errors.items %}
            <div class="row mt-2 justify-content-center">
                <div class="col-3">
                    <p>{{ key }}</p>
                    <div class="row">
                        <ul>
                            {% for value in values %}
                                <li>{{ value }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
{% endif %}

{% endif %}

{% endblock content %}